#a {
    background-color: #db8f00;
    width: 500px;
    height: 500px;
}

#b {
    background-color: #49d4a6;
    width: 250px;
    height: 250px;
}

#c {
    color: white;
    background-color: red;
    font-size: 25px;
    font-family: monospace;
    font-weight: bold;
}

#d{
    width: 50%;
    height: 50vh;
    background-color: rgb(172, 247, 247);
}

#e{
    width: 75vw;
    height: 50%;
    background-color: rgb(201, 12, 12);
}